table {
  margin: 0 auto;
  width: 50%;
}
table,
th,
td {
  border: 1px solid #999;
  border-collapse: collapse;
}

tr:first-child {
  background-color: #27aa6d;
  color: #fff;
}

th,
td {
  padding: 15px;
}
